<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Coffee</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <a href="../templates/index.html" class="logo">
            <img src="../static/img/logo.png" alt="Logo">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar">
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/about.html">About Us</a></li>
            <li><a href="../templates/products.html">Products</a></li>
            <li><a href="../templates/customers.html">Reviews</a></li>
        </ul>
        <div class="header-icon">
            <a href="../templates/cart.html"><i class='bx bx-cart-alt' id="cart" data-quantity="0"></i></a>
            <i class='bx bx-search' id="search-icon"></i>
        </div>
        <div class="search-box">
          <input type="search" placeholder="Search Here...">
        </div>
    </header>
    <main>
        <!-- content will go here -->
    </main>
    <footer>
        <div class="footer-box">
            <h2>World Coffee</h2>
            <p>Find us on your favorite<br>social media</p>
            <div class="social">
                <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Return Policy</a></li>
        </div>
        <div class="footer-box">
            <h3>View Guides</h3>
            <li><a href="#">Features</a></li>
            <li><a href="#">Work with us</a></li>
            <li><a href="#">Our Partners</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Dublin City, Ireland</span>
                <span><i class='bx bxs-phone'></i>+353 085 555 1234</span>
                <span><i class='bx bxs-envelope'></i>contact@worldcoffee.com</span>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>&#169; WorldCoffee All Rights Reserved</p>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
