<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers - Coffee Shop</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <header>
        <a href="index.html" class="logo">
            <img src="../static/img/logo.png" alt="Logo">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="customers.html">Reviews</a></li>
        </ul>
        <div class="header-icon">
            <a href="cart.html"><i class='bx bx-cart-alt' id="cart"></i></a>
            <i class='bx bx-search' id="search-icon"></i>
        </div>
        <div class="search-box">
          <input type="search" placeholder="Search Here...">
        </div>
    </header>

    <main>
    <section class="customers" id="customers">
        <div class="heading">
            <h2>Our customers Reviews</h2>
        </div>
        <div class="customers-container">
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <p>"I stumbled upon World Coffee while exploring the city, and it's become my go-to spot for my daily caffeine fix. Their Indonesian Mandheling is a revelation - bold, earthy, and utterly addictive. The ambiance is cozy, the service impeccable. If you're looking for a taste of the world in a cup, this is the place to be!"</p>
                <h2>Liam O'Connor</h2>
                <img src="../static/img/rev1.jpg" alt="">
            </div>
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <p>"World Coffee has truly changed my mornings! As a busy professional, I never knew coffee could be this enchanting. Their Ethiopian Harrar brew is a revelation - the fruity notes and vibrant acidity wake up my senses like nothing else. And the staff? Incredibly friendly and knowledgeable. I'm hooked!"</p>
                <h2>Ciara Murphy</h2>
                <img src="../static/img/rev3.jpg" alt="">
            </div>
            <div class="box">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <p> "As a self-proclaimed coffee snob, I've tried beans from all over. But nothing compares to the selection at World Coffee. Their Colombian brew is a symphony of flavors - smooth, rich, with just the right amount of acidity. Plus, their brewing equipment is top-notch. Highly recommend for any coffee lover!"</p>
                <h2>Sean Kelly</h2>
                <img src="../static/img/rev2.jpg" alt="">
            </div>
        </div>
    </section>
    </main>

    <footer>
        <div class="footer-box">
            <h2>World Coffee</h2>
            <p>Find us on your favorite<br>social media</p>
            <div class="social">
                <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Return Policy</a></li>
        </div>
        <div class="footer-box">
            <h3>View Guides</h3>
            <li><a href="#">Features</a></li>
            <li><a href="#">Work with us</a></li>
            <li><a href="#">Our Partners</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Dublin City, Ireland</span>
                <span><i class='bx bxs-phone'></i>+353 085 555 1234</span>
                <span><i class='bx bxs-envelope'></i>contact@worldcoffee.com</span>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <p>&#169; WorldCoffee All Rights Reserved</p>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>
