<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Products - Coffee Shop</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <header>
        <a href="index.html" class="logo">
            <img src="../static/img/logo.png" alt="Logo">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="customers.html">Reviews</a></li>
        </ul>
        <div class="header-icon">
            <a href="cart.html"><i class='bx bx-cart-alt' id="cart"></i></a>
            <i class='bx bx-search' id="search-icon"></i>
        </div>
        <div class="search-box">
          <input type="search" placeholder="Search Here...">
        </div>
    </header>

    <main>
    <section class="products" id="products">
        <div class="heading">
            <h2>Our best sellers</h2>
        </div>
    
        <div class="products-container">
            <div class="box" data-id="1">
                <img src="../static/img/p1.png" alt="Guatemalan">
                <h3 class="product-name">Guatemalan coffee</h3>
                <div class="content">
                    <span class="product-price">€16.90</span>
                    <a class="add-to-cart" data-id="1">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="2">
                <img src="../static/img/p2.png" alt="French">
                <h3 class="product-name">French coffee</h3>
                <div class="content">
                    <span class="product-price">€15.90</span>
                    <a class="add-to-cart" data-id="2">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="3">
                <img src="../static/img/p3.png" alt="Ethiopian">
                <h3 class="product-name">Ethiopian coffee</h3>
                <div class="content">
                    <span class="product-price">€19.90</span>
                    <a class="add-to-cart" data-id="3">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="4">
                <img src="../static/img/p4.png" alt="Indonesian">
                <h3 class="product-name">Indonesian coffee</h3>
                <div class="content">
                    <span class="product-price">€34.90</span>
                    <a class="add-to-cart" data-id="4">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="5">
                <img src="../static/img/p4.png" alt="Brazilian">
                <h3 class="product-name">Brazilian coffee</h3>
                <div class="content">
                    <span class="product-price">€24.90</span>
                    <a class="add-to-cart" data-id="5">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="6">
                <img src="../static/img/p6.png" alt="Italian">
                <h3 class="product-name">Italian coffee</h3>
                <div class="content">
                    <span class="product-price">€22.90</span>
                    <a class="add-to-cart" data-id="6">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="7">
                <img src="../static/img/p5.png" alt="Colombian">
                <h3 class="product-name">Colombian coffee</h3>
                <div class="content">
                    <span class="product-price">€19.90</span>
                    <a class="add-to-cart" data-id="7">Add to cart</a>
                </div>
            </div>
            <div class="box" data-id="8">
                <img src="../static/img/p1.png" alt="Mexican">
                <h3 class="product-name">Mexican coffee</h3>
                <div class="content">
                    <span class="product-price">€15.90</span>
                    <a class="add-to-cart" data-id="8">Add to cart</a>
                </div>
            </div>
        </div>
    </section>
    </main>

    <footer>
        <div class="footer-box">
            <h2>World Coffee</h2>
            <p>Find us on your favorite<br>social media</p>
            <div class="social">
                <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Product</a></li>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Return Policy</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h3>View Guides</h3>
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Work with us</a></li>
                <li><a href="#">Our Partners</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>Dublin City, Ireland</span>
                <span><i class='bx bxs-phone'></i>+353 085 555 1234</span>
                <span><i class='bx bxs-envelope'></i>contact@worldcoffee.com</span>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>&#169; WorldCoffee All Rights Reserved</p>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
